<html>
    <head>
        <title></title>
        <script src="/public/javascripts/phaser.min.js"></script>
        <script src="/public/javascripts/boot.js"></script>
        <script src="/public/javascripts/load.js"></script>
        <script src="/public/javascripts/mainmenu.js"></script>
        <script src="/public/javascripts/play.js"></script>
        <script src="/public/javascripts/dead.js"></script>
        <script src="/public/javascripts/game.js"></script>
    </head>
    <body>
        <div id="game">
        </div>
    </body>
</html>